altgraph==0.17.4
auto-py-to-exe==2.42.0
bottle==0.12.25
bottle-websocket==0.2.9
cffi==1.16.0
Eel==0.16.0
future==0.18.3
gevent==23.9.1
gevent-websocket==0.10.1
greenlet==3.0.3
keyboard==0.13.5
MouseInfo==0.1.3
mss==9.0.1
numpy==1.26.2
opencv-python==4.8.1.78
packaging==23.2
pandas==2.1.4
pefile==2023.2.7
Pillow==10.1.0
PyAutoGUI==0.9.54
pycparser==2.21
PyDirectInput==1.0.4
PyGetWindow==0.0.9
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.12
PyMsgBox==1.0.9
pyparsing==3.1.1
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.30
PySimpleGUI==4.60.5
python-dateutil==2.8.2
pytweening==1.0.7
pytz==2023.3.post1
pywin32==306
pywin32-ctypes==0.2.2
six==1.16.0
tzdata==2023.4
whichcraft==0.6.1
zope.event==5.0
zope.interface==6.1
